.input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: black, white;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: rgb(255, 255, 255), rgb(59, 59, 59);
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 2px;
    border-style: inset;
    border-color: rgb(118, 118, 118), rgb(195, 195, 195);
    border-image: initial;
}